html,body {
  width: 100%;
  height: 100%;
	font-family: 'Oswald', sans-serif !important;
}
#empty-forum {
    width: 90%;
    border-radius: 0.5rem;
}

/*//////////////////////////*/
/* TOP NAV BAR */
/*//////////////////////////*/
#nave{
	background-color: black;
	position: fixed;
}
.navbar {
    width: 100%;
    box-shadow: 1px 1px 5px 0px var(--dark-green);
}
.nav-title{
	font-size:2vh;
	color: aliceblue;
}
.nav-container {
    width: 85%;
}
.sticky-off {
    top: -56px !important;
}
.nav-logo {
    height: 7vh;
}
.hide {
    display: none;
}

/*//////////////////////////*/
/* BARRA DE NAVEGACIÓN FOOTER */
/*//////////////////////////*/

/* #region footer */
.footer-nav {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    box-shadow: -1px -1px 5px 0px var(--dark-green);
}

.footer-nav-item {
    width: 25%;
    height: 10vh;
}

.item {
    height: 5vh;
}

.nav-activo {
    display: block !important;
}

.link-activo {
    border-bottom: 2px solid var(--text-color);
}

/*//////////////////////////*/
#cuerpo{
		background-color: #C7F5BF;
	}



#pages{
		text-align: center;
		width: 85%;
		position: absolute;
		top:15%;
		margin-left: 3%;
		margin-bottom: 20%;
	}
.text{
	background-color: aliceblue;
	margin:4%;
		padding: 3%;
}
#informacion{
 		display: block;
		text-align: left;
		padding: 3%;
	}
#horario,#sedes,#equipo,#calendario{
		display: none;
	}
h3{
    	color: aliceblue;
		display: inline-block;
		background: #42B54A;
		width: 100%;
		margin: 2%;
  		border: solid 1px green;
		border-radius: 50px;
		padding: 4%;}
h4{
			
  		background-color: #B4F89C;
		border: solid 1px green;
		border-radius: 50px;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 3px 3px;
		z-index: 1;	
		margin: 5%;
	}
.cont{
		text-align: center;
width: 80%;
  min-width: 160px;
margin-left: 11%;
  z-index: 1;
  right: 0;
		border-top: solid 1px green;
	}

.nav-logo {
    height: 7vh;
}
@media all and (orientation: landscape) {
  .nav-logo {
        height: 10vh;
    }

    .navbar-toggler {
        font-size: 1rem;
    }
	.nav-title{
		font-size: 7vh;
		padding-left: 3%;
	}
	/*-------------*/
	header{
	background-color: black;
		height: 14%;
		text-align: center;
}
	#elh1{
  font-size:150%;
  color: #4CAF50;
  float: left;
  margin: 3% 2%;

}
	
	#primero{
 		display: block;
		text-align: left;
		padding: 3%;
		top:5%;
	}
	.text{
	background-color: aliceblue;
	margin:4%;
	padding: 3%;
}
	h2{
		position: fixed;
		width: 100%;
		height: 10%;
		text-align: center;
		top: 14%;
		left: 0;
		color: azure;
		background: black;
	}
	#pages{
		text-align: center;
		position: absolute;
		width: 85%;
		top:30%;
		margin-left: 3%;
	}
	#segundo{
		display: none;
	}
	#tercero{
		display: none;
	}
	#cuarto{
		display: none;
	}
	#quinto{
		display: none;
	}	

	h3{ 
		text-align: center;
    	color: aliceblue;
		display: inline-block;
		background: #42B54A;
		width: 50%;
		margin: 2%;
  		border: solid 1px green;
		border-radius: 50px;
		padding: 4%;}
	h4{	
  		background-color: #B4F89C;
		border: solid 1px green;
		border-radius: 50px;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 3px 3px;
		z-index: 1;	
		margin: 5%;
	}
	.cont{
  min-width: 160px;
  padding: 12px;
  z-index: 1;
  right: 0;
		border-bottom: solid 1px green;
	}
	#cuerpo{
		background-color: #C7F5BF;
	}

}
	
